<div class="content-wrapper">
        <div class="content-header" type="button" onClick="handle_content_blocks(this);">
        <h6 class="col mdi-content-add ">Floor Ammenities</h6></div>
        <div class="content-block">
          <%= render :partial => 'projects/ammenity_fields', :locals => {:f => floor_form}  %>
        </div>
      </div>