<div class="content-wrapper">
      <div class="content-header" type="button" onClick="handle_content_blocks(this);">
      <h6 class="col mdi-content-add ">Flat Details</h6></div>
      <div class="content-block">
        <ul>
          <%= render :partial => 'projects/flat_fields', :locals => { :floor_form => floor_form}  %>
          <%= link_to_add_flats "Add Flats", floor_form, :flats %>
        </ul>
      </div>
    </div>