<p id="notice"><%= notice %></p>

<ul class="collapsible popout" data-collapsible="accordion" watch>
    <% if access_projects_edit %>
     <li>
        <div class="collapsible-header <% if @approval_type.errors.any? %>active<% end %>">
            Add a new Approval Type
        </div>
        <div class="collapsible-body card-panel">
            <%= render :partial => 'form', :locals => { :approval_type => @approval_type }  %>
        </div>
     </li>
    <% end %>
    <% @approval_types.each do |approval_type| %>
        <li>
            <div class="collapsible-header header-info <% if approval_type.errors.any? %>active<% end %>">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s3">
                                <%= approval_type.name %>
                            </div>
                            <div class="col s4">
                            </div>
                            <div class="col s3">
                            </div>
                            <div class="right">
                                <!-- <i class="mdi-action-delete"></i> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="collapsible-body card-panel">
                <%= render :partial => 'form', :locals => { :approval_type => approval_type }  %>
            </div>
        </li>
    <% end %>
</ul>

<br>