<div class="content-wrapper card-panel">
	<div class="content-header" type="button" onClick="handle_content_blocks(this);">
	  <h6 class="col mdi-content-add">Project Ammenities</h6>
	</div>
	<div class="content-block">
	  <%= render :partial => 'projects/ammenity_fields', :locals => { :f => project_form }  %>
	</div>
</div>