<div class="grey-text">
  <%= f.fields_for :ammenities  do |ammenity_form| %>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s3">
                  <%= ammenity_form.object.base_ammenity.name %>
                </div>
                <div class="col s3">
                  <%= ammenity_form.check_box :status, :placeholder => "true", :id => f.object.id.to_s+ammenity_form.object.base_ammenity.name+"-ammenity" %>
                  <%= ammenity_form.label(:status, "Select Ammenity", :for => f.object.id.to_s+ammenity_form.object.base_ammenity.name+"-ammenity") %>
                  
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>