<div class="grey-text">
  <%= f.fields_for :approval_types  do |approval_type_form| %>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s3">
                  <%= approval_type_form.object.base_approval_type.name %>
                </div>
                <div class="col s3">
                  <%= approval_type_form.check_box :status, :placeholder => "true", :id => f.object.id.to_s+approval_type_form.object.base_approval_type.name+"-approval-type" %>
                  <%= approval_type_form.label(:status, "Select Approval Type", :for => f.object.id.to_s+approval_type_form.object.base_approval_type.name+"-approval-type") %>
                  
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>