<div class="grey-text">
  <%= f.fields_for :approval_types  do |approval_type_form| %>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s3">

                </div>
                <div class="col s3">
                  <%= approval_type_form.collection :status, :placeholder => "true" %>
                  <%= approval_type_form.label(:status, "Status") %>
                  
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>