<div class="grey-text">
  <%= f.fields_for :property_configurations  do |property_configuration_form| %>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s3">
                  <%= property_configuration_form.object.base_property_configuration.name %>
                </div>
                <div class="col s3">
                  <%= property_configuration_form.check_box :status, :placeholder => "true", :id => f.object.id.to_s+property_configuration_form.object.base_property_configuration.name+"-property-configuration" %>
                  <%= property_configuration_form.label(:status, "Select Property Configuration", :for => f.object.id.to_s+property_configuration_form.object.base_property_configuration.name+"-property-configuration") %>
                  
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>