<div class="referral-panel card-panel z-depth-4">
    <div class="header grey darken-3 handle-referral-panel">
        <i class="mdi-navigation-close small right white-text "></i>
    </div>
    <div class="referral-content">
        <div class="referral-content-block">
            <% @referral_leads.each do |referral_lead| %>
                <div class="referral-content-item">
                    <div><%= referral_lead.content %></div>
                    <div><h7>Referred to <%= referral_lead.buyer.name %></h7></div>
                </div>
                <hr/>
            <% end %>
        </div>
        <div class="textarea row">
            <div class="col s10">
                <input id="referral" type="text" placeholder="Send the Referral Info..">
                <label for="referral"></label>
            </div>
            <i class="mdi-content-send small right blue-text " type="button" onClick="save_referral_lead(this, event)"></i>
        </div>
    </div>
</div>