<h6>Projects</h6>
<p id="notice"><%= notice %></p>

<ul class="collapsible popout bp-popin" data-collapsible="accordion" watch>
    <% if access_projects_edit %>
     <li>
        <div class="collapsible-header <% if @project.errors.any? %>active<% end %>">
            Add a new Project
        </div>
        <div class="collapsible-body">
            <%= render :partial => 'form', :locals => { :project => @project }  %>
        </div>
     </li>
    <% end %>
    <% @projects.each do |project| %>
        <li>
            <div class="collapsible-header header-info <% if project.errors.any? %>active<% end %>">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s4">
                                <%= project.name %>
                            </div>
                            <div class="col s4">
                                
                            </div>
                            <div class="col s3">
                            </div>
                            <div class="right">
                                <!-- <i class="mdi-action-delete"></i> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="collapsible-body">
                <%= render :partial => 'form', :locals => { :project => project }  %>
            </div>
        </li>
    <% end %>
</ul>
<div class="referral-panel card-panel z-depth-4">
    <div class="header grey darken-3 handle-referral-panel">
        <i class="mdi-navigation-close small right white-text "></i>
    </div>
    <div class="referral-content">
        <div class="textarea row">
            <div class="col s10">
                <input id="referral" type="text" placeholder="Type the Referral link..">
                <label for="referral"></label>
            </div>
            <i class="mdi-content-send small right blue-text "></i>
        </div>
    </div>
</div>