<div class="content-wrapper">
    <div class="content-header" type="button" onClick="handle_content_blocks(this);">
      <h6 class="col mdi-content-add">Building Photos</h6>
       <div class="col">
        <div class="row">
          <% building_form.object.photos.each do |photo|%>
            <img src="<%= presigned_url photo %>" class="thumbnails"/>
          <% end %>
        </div>
      </div>
    </div>
    <div class="content-block">
        <%= building_form.label :photos_files %>
        <%= building_form.attachment_field :photos_files, multiple: true, direct: true, presigned: true %>
    </div>
  </div>