var project_ids = [];

function remove_fields(link) {
  $(link)[0].previousSibling.value = "1"
  $(link).parent('.fields').hide();
}

function add_fields(link, association, content) {
  var new_id = new Date().getTime();
  var regexp = new RegExp("new_" + association, "g");
  content = content.replace(regexp, new_id);

  var regexp = new RegExp("\\["+ association+"\\]", "g");
  content = content.replace(regexp, "");

  var regexp = new RegExp("\\[flats\\]", "g");
  content = content.replace(regexp, "[flats_attributes][0]");

  var regexp = new RegExp("\\[floors\\]", "g");
  content = content.replace(regexp, "[floors_attributes][0]");

  var regexp = new RegExp("\\[buildings_attributes\\]\\[_destroy\\]", "g");
  content = content.replace(regexp, "[buildings_attributes]["+new_id+"][_destroy]");

  $(link).before(content);
}


function create_forms(item, type, wrapper_id){
  var count = $(item).parent().find('input#project_number_of_'+type+'s').val();
  var new_forms_count = parseInt(count) || "x";

  if(new_forms_count != "x" && new_forms_count > 50){
    alert("Can't add so many "+type+"s, max number is 50");
  }
  else if(new_forms_count != "x"){
    var button_to_add = $('#'+wrapper_id).find('button.add_'+type+'s');
    var buttons_to_remove = $('#'+wrapper_id).find('.'+type+'-fields:visible button.remove_'+type+'');

    var visible_forms_count = $("#"+wrapper_id).find('.'+type+'-fields:visible').length;
    if(visible_forms_count > new_forms_count){
      new_forms_count = visible_forms_count - new_forms_count;
      for(var i=0; i<new_forms_count; i++){
        $($(buttons_to_remove[i])).click();
      }
    }
    else if(visible_forms_count < new_forms_count){
      new_forms_count = new_forms_count - visible_forms_count; 
      for(var i=0; i<new_forms_count; i++){
        $(button_to_add).click();
      }
    }
  }
  else{
    alert("Add valid number");
  }
}

function handle_referral_links(){
  $('.handle-referral-panel').on('click', function(){
    $('.referral-content').toggle();
    if($($('.handle-referral-panel').children()[0]).hasClass('mdi-navigation-close')){
      $($('.handle-referral-panel').children()[0]).removeClass('mdi-navigation-close');
      $($('.handle-referral-panel').children()[0]).addClass('mdi-content-add'); 
    }
    else{
      $($('.handle-referral-panel').children()[0]).removeClass('mdi-content-add');
      $($('.handle-referral-panel').children()[0]).addClass('mdi-navigation-close'); 
    }
  });
}

function save_referral_lead(item, event){
  if(project_ids.length != 0){
    var content = $('#referral').val();
    var buyers = project_ids.toString();
    $('#referral').val("");
    $('.referral-content-block').append("<div class='referral-content-item'><div>"+content+"</div><div><h7>Referred to "+buyers+"</h7></div></div><hr/>");
    
    var height = 0;
    for(var i=0; i<$('.referral-content-block').children('.referral-content-item').length; i++){
      height = height + $($('.referral-content-block').children('.referral-content-item')[i]).outerHeight();
    }
    $('.referral-content-block').scrollTop(height);

  }
  else{
    alert("Select a project");
  }
}

function handle_referral_project_checkbox(item, event){
  // var this = $(item);
  var isChecked = $(item).parent().children('input').is(":checked");
  var project_id = $(item).attr("for").split("project-")[1];
  if(isChecked){
    var index = project_ids.indexOf(project_id);
    project_ids.splice(index, 1);
  }
  else{
    project_ids.push(project_id);
  }
  $(item).parent().children('input').attr("checked", !isChecked);
  event.stopPropagation();
}

function bind_referral_enter_event(){
  $('#referral').bind('keypress', function(e){
    if(e.which == 13){
      save_referral_lead();
    }
  });
}

$(document).ready(function(){
  handle_referral_links();
  bind_referral_enter_event();
});