<div id="breadcrumbs">
    <div class="">
        <div class="col s12">
            <div class="breadcrumb-header">
                <div class="">
                    <div class="col s12">
                        <a href="/countries" class="breadcrumb">Countries</a>
                        <a href="/states" class="breadcrumb">States</a>
                        <a href="/cities" class="breadcrumb">Cities</a>
                        <a href="/localities" class="breadcrumb">Localities</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>