<header id="header" class="page-topbar">
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a class="brand-logo center">Blue Pigeon</a>
                    <ul class="right hide-on-med-and-down">
                        </li>
                        <li><a href=""><i class="mdi-navigation-refresh"></i></a>
                        </li>
                        <li><a><i class="mdi-social-notifications"></i></a>
                        </li>
                        <li><a href="/logout"><i class="mdi-navigation-close"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>